/*

MAIN CSS Sheet for My Portfolio Website

Font used

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;

**Will modify for responsive design** 
**Revise CSS Comments and Code (reorganize, rearrange, etc.)**

*/

body {
    border: 5px solid purple;
    background-color: #ffffff;
    height: auto;
    overflow: auto;
    width: auto;
    
}

main {
    border: 2px solid orange;
    
}

/* HEADER AREA */

#header1 {
    background: url('../img/mountains-backdrop.JPG') repeat;
    background-size: cover;
    background-position: right bottom;
    height: 800px;
    padding: 10px;
    width: auto;
    
}

.full-width1 {
    height: 800px;
    padding: 10px;
    margin: 0 auto;
    
}

#header-halfwidth1 {
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 40px;
    padding: 0px 17.5% 0px 17.5%;
    
}

#header-halfwidth1 ul li a{
    color: #14afb8;
    text-decoration: none;
    
}

#header-halfwidth1 ul li a:hover {
    color: #f0f40b;
    text-decoration:overline; 
    
}

.first-h1 {
    color: #095256;
    font-family: 'Lora', serif;
    font-size: 30px;
    padding: 30px;
    
}


.header-text-style {
    /*color: #bdbf09;*/
    color: #d8db0a;
    font-size: 60px;
    line-height: 60px;
    padding: 200px 50px 0px 300px;
    margin-right: auto;
    margin-left: auto;
    text-shadow: 0.5px 0.5px black;
    
}

nav {
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    width: 870px;
    
}

.nav-list-items{
    float: left;
    font-family: 'Source Sans Pro', sans-serif; 
    list-style-type: none;
    margin-left: 6.25em;

}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    
}

/* PORTFOLIO AREA */

#portfolio {
    background-color: white;
    border: 1px solid red;
    height: 1450px;
    padding: 10px;
    
}

.full-width2 {
    border: 1px solid orange;
    height: 90px;
    float: left;
    margin: 0px 0px 30px 0px;
    text-align: center;
    width: 1450px;
    
}

#portfolio-halfwidth1 {
    border: 1px solid purple;
    height: 400px;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    line-height: 40px;
    padding: 0px 30px 0px 145px;
    text-align: left;
    width: 550px;
    
}


#portfolio-halfwidth2 {
    border: 1px solid purple;
    height: 400px;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    line-height: 40px;
    padding: 0px 30px 0px 145px;
    text-align: left;
    width: 550px;
    
}

.portfolio-header {
    color: #14afb8;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#portfolio img {
    padding-bottom: 30px;
    
}

#portfolio h3 {
    font-size: 24px;
    line-height: 32px;
    width: 190px;
    margin: 0 auto;
    
}

#portfolio p {
    
}

/* ABOUT AREA */


#about {
    background-color: #087e8b;
    border: 1px solid purple;
    height: 650px;
    padding: 10px;
    
}

.full-width3 {
    border: 1px solid orange;
    height: 100px;
    margin: 0px 0px 100px 0px;
    float: left;
    width: 1460px;
    text-align: center;
    
}

.about-header {
    color: white;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}

.about-halfwidth1 {
    border: 1px solid purple;
    height: 400px;
    float: left;
    padding: 0px 20px 0px 120px;
    text-align: left;
    width: 550px;
    
}

#about-halfwidth2 {
    border: 1px solid purple;
    height: 400px;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    line-height: 40px;
    padding: 0px 30px 0px 20px;
    text-align: left;
    width: 650px;
    
}

.about-p-styles {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
}


/* CONTACT AREA */

#contact {
    background-color: #095156;
    border: 1px solid purple;
    clear: both;
    height: 400px;
    padding: 10px;
    
}

.full-width4 {
    border: 1px solid orange;
    height: 50px;
    padding: 30px 0px 0px 0px;
    margin-bottom: 20px;
    float: left;
    width: 1460px;
    text-align: center;
    
}

.third-width {
    border: 1px solid red;
    float: left;
    height: 230px;
    padding: 60px 20px 0px 60px;
    text-align: center;
    width: 400px;
    
}

.header-by-icons {
    color: #2b2b2b;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 29px;
    line-height: 20px;
    
}

.header-above-email {
    color: #2b2b2b;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 32px;
    line-height: 0px;
    
}

.header-above-above-email {
    color: #2b2b2b;
    font-family: 'Lora', serif; 
    font-size: 36px;
    line-height: 30px;
    
}

#contact a {
    font-size: 22px;
    font-weight: bold;
    
    
}

#contact-info {
    border: 1px solid purple;
    height: 440px;
    float: left;
    padding: 120px 0px 0px 120px;
    text-align: left;
    width: 560px;
    
}

.contact-list-items{
    float: left;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 0px;
    list-style-type: none;
    padding: 0 60px 0px 0px;

}

a:link{
    color: #C49075;
    font-size: 22px;
    text-decoration: none;
    
}

/* MISC. AREA */

/*.bolded-leters {
    font-weight: bold;
    
}

.black-lora-font {
    color: #2b2b2b; 
    font-family: 'Lora', serif;
    
}

.black-source-sans-pro-font {
    color: #2b2b2b; 
    font-family: 'Source Sans Pro', sans-serif; 
    
}

#font-size36 {
    font-size: 36px;
    
}

.bolded-text {
    font-size: 29px;
    font-weight: bold;
    
}

.unbolded-text {
    font-weight: normal;
    
}


.arrow-size {
    padding: 0px 0px 0px 1450px;
    
}
*/
