/*

Michael Pham

MAIN CSS Sheet for My Portfolio Website

Fonts used
----------

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Karla', sans-serif;

**Will modify for responsive design** 

*/

html, body {  
    margin: 0;
    /*height: 100%;
    width: 100%;*/
    
}

body {
    background-color: #bbbbbb;
    
}

/*--------------- HEADER AREA ---------------*/

/* The background image section */
#header1 {
    align-items: flex-start;
    background: url('../img/mountains-backdrop.JPG') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: nowrap;
    height: 100vh;
    justify-content: space-around;
    padding: 0.625em;
    /*width: auto;*/
    
}

/* The whole header section */
.full-width1 {
    flex-basis: 100%;
    flex-grow: 1;
    height: 100vh;
    margin: 0 auto;
    
}

/* The Nav Bar */
#header-halfwidth1 {
    display: flex;
    float: left;
    height: 0;
    line-height: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15% 0 15%;
    width: 68vw;
    
}

/* The Nav Bar list elements */
#header-halfwidth1 ul li a {
    color: #00dae6;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-decoration: none;
    
}

#header-halfwidth1 ul li a:hover {
    color: #fbff1a;
    text-decoration: overline; 
    
}

/* The main header text */
.header-text-style {
    color: #fbff1a;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 3.75em;
    line-height: 1.2em;
    margin: 0 auto 0 auto;
    padding: 32vh 2vw 0 22vw;

    
}

/* Styling for the Nav elements */
.nav-list-items{
    float: left;
    font-family: 'Source Sans Pro', sans-serif; 
    list-style-type: none;
    margin-left: 6.25em;

}

nav ul li a {
    font-size: 1.35em;
    text-transform: uppercase;
    text-decoration: none;
    
}

/*--------------- PORTFOLIO AREA ---------------*/

#portfolio {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    background-color: white;
    height: 90.625em;
    width: 100%;

}

/* The div of the main Portfolio header */
.full-width2 {
    height: 6.25em;
    float: left;
    line-height: 0;
    margin: 0 0 2em 0;
    padding: 0 0 0 40.5%;
    width: 57vw;
    
}

/* styling of the main Portfolio header */
.portfolio-header {
    color: #14afb8;
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    font-weight: bold;
    padding: 0.5em 0 0 0;
    
}

/* The left Portfolio div section */
.portfolio-halfwidth1 {
    height: 23.4375em;
    float: left;
    padding: 3.125em 0 0 6.25em;
    width: 40%;
    
}

/* The right Portfolio div section */
.portfolio-halfwidth2 {
    height: 25.625em;
    float: left;
    padding: 0.9375em 0 0 0.01953em;
    text-align: left;
    width: 50%;
    
}

/* The subheaders of the right side portfolio sections */
.portfolio-subheader {
    color: #14afb8;
    font-family: 'Karla', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    
}

/* The paragraphs of the right side portfolio sections */
.portfolio-p-styles {
    color: #14afb8;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.45em;
    font-weight: 100;
}

/* styling of the Portfolio images */
#portfolio img {
    border: 0.0625em solid #b7b7b7;
    height: auto;
    max-width: 100%;

}

/* Adding an opacity overlay effect when hovering over the portfolio images */
.image {
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: .5s ease;
    
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    opacity: 0;
    top: 50%;
    transform: translate( 0.25%, -400%);
    -ms-transform: translate(-50%, -50%);
    width: 34.375em;
    transition: .5s ease;
    
}

/* Adding a text overlay effect when hovering over the portfolio images */
.text-overlay1 {
    background-color: #4CAF50;
    color: white;
    font-size: 1em;
    padding: 1em 2em;
    
}

.text-overlay2 {
    background-color: #F9CEB7;
    color: white;
    font-size: 1em;
    padding: 1em 2em;
    
}

.text-overlay3 {
    background-color: #14afb8;
    color: white;
    font-size: 1em;
    padding: 1em 2em;
    
}

.portfolio-halfwidth1:hover .image {
    opacity: 0.3;
    
}

.portfolio-halfwidth1:hover .middle {
    opacity: 0.8;
    
}

/*--------------- ABOUT AREA ---------------*/

/* The background image div of the about section */
#about {
    align-items: center;
    background: url('../img/forest.JPG') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 40.625em;
    padding: 0.625em;
    width: auto;
    
}

/* The main header div of the About section */
.full-width3 {
    float: left;
    height: 6.25em;
    line-height: 0;
    margin: 0 0 5em 0;
    text-align: center;
    width: 195vh;
    
}

/* The styling of the about main header */
.about-header {
    color: 	#00dae6;
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    font-weight: bold;
    padding: 0.5em 0 0 0.25em;
    text-shadow: 0.015em 0.015em white;
    
}

/* The subheaders of the about me section */
.about-subheader {
    color: 	#00dae6;
    font-family: 'Karla', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    text-shadow: 0.015em 0.015em white;
    
}

/* The paragraphs of the about me section */
.about-p-styles {
    color: 	#00dae6;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    font-weight: 600;
    text-shadow: 0.01em 0.01em white;
    
}

/* Styling of the profile image */
.about-image {
    max-height: 21.875em;
    max-width: 21.875em;
    
}

.about-image:hover {
    opacity: 0.8;
    transition: .5s ease;
    
}


/* The left div of the about section consisting of the profile image */
.about-halfwidth1 {
    height: 22.8125em;
    float: left;
    padding: 0 1.25em 0 12em;
    width: 30em;
    
}

/* The right div of the about section consisting of the about me section */
.about-halfwidth2 {
    height: 25em;
    float: left;
    padding: 0 1.875em 0 1.25em;
    text-align: left;
    width: 47.5vw;
    
}

/*--------------- CONTACT AREA ---------------*/

#contact {
    align-items: center;
    /*background-color: #095156;*/
    background-color: #0d6e73;
    clear: both;
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    height: 100%;
    /*height: 23.5em;*/
    justify-content: flex-start;
    padding: 0.625em;
    /*width: auto;*/
    
}

/* The div of the main header of the contacts section */
.full-width4 {
    float: left;
    height: 5.625em;
    line-height: 0;
    margin-bottom: 1.25em;
    text-align: center;
    width: 200vh;
    
}

/* The main header of the contacts section */
.contact-header {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    font-weight: bold;
    padding: 0 0 0 0;
    
}

/* The 3 divs of the contacts section */
.third-width {
    float: left;
    flex-basis: 28.7%;
    flex-shrink: 1;
    height: 30vh;
    padding: 0 0 0 2.5em;
    text-align: center;
    /*width: 59vh;*/
    
}

/* The subheaders of each section of the contacts section */
.contact-subheader {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    
}

/* The paragraphs of each section of the contacts section */
.contact-p-styles {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.45em;
    font-weight: 500;
    
}

/* Adding a yellow text hover when the user goes over the phone number and email text */
#contact a:link{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    
}

#contact a:hover{
    color: #d8db0a;
    
}

/* Styling of the GitHub and LinkedIn logo links */
#contact ul li {
    display: inline-block;
    list-style: none;
    padding: 0 1vw 0 2.5vw;
    
}

#logos-div {
    width: 50vh;
    
}

/* Styling of the GitHub and LinkedIn logo links */
.contact-list-items{
    font-size: 0;
    list-style-type: none;

}

/* The bottom footer div */
#copyright-div {
    color: white;
    height: 5.5vh;
    float: left;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    padding: 0.44em 0 0 3.75em;
    text-align: center;
    width: 84.75vw;
    
}

/* 
Attempting to add alternating social media image logo links when the user hovers their mouse over it

Researched on StackOverflow, the HTML and CSS method worked for the Jubilee Austen project but not this one for some reason.
*/

/*

.linkedin-logo {
    background:transparent url("../img/linkedin.png") no-repeat;
    display: block;
    
}

.linkedin-logo:hover {
    background-image: url("../img/linkedin-active.png") no-repeat;
    
}

.github-logo {
    background:transparent url("../img/github.png") no-repeat;
    display: block;
    
}

.github-logo:hover {
    background-image: url("../img/github-active.png") no-repeat;
    
}

*/

/*--------------- MISC. AREA ---------------*/

/* Consists of code that applies to various sections of the website */

/* Added no border since by default, it adds a border around the arrow icon */
#portfolio a .arrow-size,  #about a .arrow-size, #contact a .arrow-size{
    border: none;
}

/* Added padding for the arrow icons so that it floats on the bottom-right side of the page */
#portfolio a .arrow-size {
    padding: 0.25em 0 0 92em;
    
}

#about a .arrow-size {
    padding: 2.5em 0 0 91.5em;
    
}

#contact a .arrow-size {
    padding: 1em 0 0 5.75em;
    
}

/* Added a div containing the last arrow-up icon for the contacts section in order to float it alongside the copyright footer div */
#contact-arrow {
    float: left;
    
}

/*

--------------- MEDIA QUERIES AREA ---------------

                 WORK IN PROGRESS

*/


@media (max-width: 767px) {
    /* 600px and lower; for mobile devices */
    body {
        background: red;
        
    }
    
    #header1 {       
        height: 100vh;
        padding: 0.625em;
        width: 100vw;
    
    }
    .full-width1 {
        height: 100vh;
        padding: 1vw;
        width: 100vw;
     
    }
    #header-halfwidth1 {
        padding: 0 3vw 0 3vw;
        width: 4vw;
    
    }
    
    nav {
    width: 100vw;
    
    }

    /* Styling for the Nav elements */
    .nav-list-items{
        margin-left: 2vw;

    }

    nav ul li a {
        font-size: 1.35em;
    
    }
    
    
}


@media screen (min-width: 768px) and (max-width: 1199px) {
    /* Between 601px and 1024px in width; for tablets */
    body {
        background: purple;
        
    }
    
}

